---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getEntry } from 'astro:content';
import OrganismEssayCard from "../components/Organisms/OrganismEssayCard.astro";
import AtomContentType from "../components/Atoms/AtomContentType.astro";
import OrganismListCard from "../components/Organisms/OrganismListCard.astro";
import OrganismAboutCard from "../components/Organisms/OrganismAboutCard.astro";
import OrganismEssayCard2 from "../components/Organisms/OrganismEssayCard2.astro";
import Header from "../components/Header.astro";
import MoleculeSquareCard from "../components/Molecules/MoleculeSquareCard.astro";

const post = await getEntry("essays", "pessimism-and-palestine");
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <Header/> -->
		<main class="main">
			<div class="outer-container">
				<div class="container">
					<div class="header-container">
						<div class="header-flex">
							<h1 class="serif">Clouded Hills</h1>
							<h2 class="header">A place for essays, musings and</h2>
							<h2 class="header">notes on science, politics and life.</h2>
						</div>
						<div class="card-container">
							<MoleculeSquareCard name="Essays" class="rosewater" />
							<MoleculeSquareCard name="Musings" class="green" comingSoon />
							<MoleculeSquareCard name="Notes" class="yellow" comingSoon />
							<MoleculeSquareCard name="About" class="teal" comingSoon/>
						</div>	
					</div>
					<div class="content-container">
						<OrganismEssayCard id={post.id} title={post.data.title} heroImage={post.data.heroImage} description={post.data.description} colour={post.data.colour}/>
					</div>
					</div>
				</div>
				</div>
		</main>
	</body><style>
		.main {
			width: 100%;
			height: 100%;
			/* flex-direction: column; */
			margin: 0;
			padding: 0;
		}
		.outer-container {
			position: relative;
			width: 100%;
			height: 100dvh;
			box-sizing: border-box;
			padding: 4rem 0;
			display: flex;
		}

		.container {
			display: flex;
			position: relative;
			width: 100%;
			height: 100%;
			/* padding-top: 5rem; */
			/* padding-bottom: 5rem; */
			gap: 2rem;
			margin: auto;
		}

		.header-container {
			/* background-color: var(--mantle); */
			/* padding: 0rem 2rem; */
			margin: 0 4rem;
			display: flex;
			flex-direction: column;
		}
		.header-flex {
			margin: auto 0;
		}
		.card-container {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			align-items: right;
			justify-items: right;
			gap: 1.5rem;
		}

		.card-paragraph {
			color: white;
			line-height: 1.5rem;
			height: 100%;
			margin-top: 5rem;
		}

		.content-container {
			height: 100%;
			aspect-ratio: 10 / 16;
		}

		h1 {
			color: var(--teal);
			font-size: 5rem;
			text-align: right;
		}

		h2 {
			font-size: 2rem;
			font-weight: 200;
			color: var(--rosewater);
			margin-left: 1rem;
			text-align: right;
		}
	</style>
</html>
