---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getEntry } from "astro:content";
import OrganismEssayCard from "../components/Organisms/OrganismEssayCard.astro";
import AtomContentType from "../components/Atoms/AtomContentType.astro";
import OrganismListCard from "../components/Organisms/OrganismListCard.astro";
import OrganismAboutCard from "../components/Organisms/OrganismAboutCard.astro";
import OrganismEssayCard2 from "../components/Organisms/OrganismEssayCard2.astro";
import Header from "../components/Header.astro";
import MoleculeSquareCard from "../components/Molecules/MoleculeSquareCard.astro";

const post = await getEntry("essays", "pessimism-and-palestine");
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header hideTitle />
		<main class="main">
			<div class="outer-container">
					<img id="logo" class="logo" src="/clouded-hills.svg" />
				<div class="container">
					<div class="header-container">
						<div class="header-flex">
							<h1 class="serif">Clouded Hills</h1>
							<h2 class="header">A place for essays, musings and</h2>
							<h2 class="header">notes on science, politics and life.</h2>
						</div>
						<div class="card-container">
							<MoleculeSquareCard name="Essays" class="rosewater" />
							<MoleculeSquareCard name="Musings" class="green" comingSoon />
							<MoleculeSquareCard name="Notes" class="yellow" comingSoon />
							<MoleculeSquareCard name="About" class="teal" comingSoon />
						</div>
					</div>
					<div id="content-container" class="content-container">
						<OrganismEssayCard
							id={post.id}
							title={post.data.title}
							heroImage={post.data.heroImage}
							description={post.data.description}
							colour={post.data.colour}
						/>
					</div>
				</div>
			</div>
		</main>
	</body>
	<script>
		const logo = document.getElementById("logo");
		logo?.addEventListener("mouseover", (el) => {
			if (logo.classList.contains("come-back-3")) {
				logo.classList.add("run-away-3");
				setTimeout(() => {
					logo.style.display = "none";
					setTimeout(() => {
						logo.classList = "logo come-back-3";
						logo.style.display = "block";
						logo.style.removeProperty("left");
					}, 5000)
				}, 200);
				return;
			}
			logo.classList.add("run-away");
		});
		logo?.addEventListener("animationend", (el) => {
			if (logo.classList.contains("come-back-3")) {
				logo.classList.remove("come-back-3");
			} else if (logo.classList.contains("logo")) {
				// logo.classList.remove("logo");
				// logo.classList.remove('run-away');
				logo.classList = 'ran-away';
				const target = document.getElementById('content-container');
				const rect = target?.getBoundingClientRect();
				logo.style.left = `${rect.left + window.scrollX - 75}px`;
				logo.classList.add('come-back');
			} else if (logo.classList.contains("come-back")) {
				logo.style.left = `${window.innerWidth + 100}px`;
				logo.classList = 'ran-away-2';		
				setTimeout(() => {
				logo.style.left = `${window.innerWidth - 75}px`;
				logo.classList.add('come-back-2');
				}, 100);
			} else if (logo.classList.contains("come-back-2")) {
				logo.style.display = "none";
				setTimeout(() => {
					logo.classList = "logo come-back-3";
					logo.style.display = "block";
					logo.style.removeProperty("left");
				}, 5000);
			}
		});
			
	</script>
	<style>
		.logo-container {
			width: 100%;
		}
		
		.logo {
			position: absolute;
			top: 4rem;
			left: 4rem;
			width: 10rem;
			height: 10rem;
			cursor: pointer;
			z-index: 5;
		}

		.ran-away {
			position: absolute;
			top: 4rem;
			left: calc(4rem + 60vw);
			width: 10rem;
			height: 10rem;
		}
		
		.ran-away-2 {
			position: absolute;
			top: 4rem;
			width: 10rem;
			height: 10rem;
		}

		.run-away {
			position: absolute;
			top: 4rem;
			left: 4rem;
			width: 10rem;
			height: 10rem;
			animation: growMove 2s forwards;
		}

		.come-back {
			transition: left 2s;
			will-change: left;
			z-index: 5;
		}

		.come-back-2 {
			transition: left 2s;
			will-change: left;
			z-index: 5;
		}

		.come-back-3 {
			transform: translateX(calc(-100% - 100px));
			animation: slide-left-in 6s forwards;
		}
		.run-away-3 {
			left: 0;
			transition: left 0.2s;
		}

		@keyframes slide-left-in {
			40% {
				transform: translate(-100%);
			}
			60% {
				transform: translate(-100%);
			}
			100% {
				transform: translateX(0);
			}
		}

		@keyframes growMove {
			0% {
				transform: scale(1) translateX(0);
			}
			60% {
				transform: scale(1.1) translateX(0); /* Grow in place */
			}
			100% {
				transform: scale(1.1) translateX(calc(60vw)); /* Move to end (adjust for size) */
			}
		}

		.main {
			height: calc(100dvh - 2.5rem);
			margin: 0;
			padding: 0;
			overflow-x: hidden;
		}
		.outer-container {
			position: relative;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding: 4rem 0;
			display: flex;
		}

		.container {
			display: flex;
			position: relative;
			width: 100%;
			height: 100%;
			/* padding-top: 5rem; */
			/* padding-bottom: 5rem; */
			gap: 2rem;
			margin: auto;
		}

		.header-container {
			/* background-color: var(--mantle); */
			/* padding: 0rem 2rem; */
			margin: 0 4rem;
			margin-top: 8rem;
			display: flex;
			flex-direction: column;
		}
		.header-flex {
			margin: auto 0;
		}
		.card-container {
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			align-items: right;
		}

		.card-paragraph {
			color: white;
			line-height: 1.5rem;
			height: 100%;
			margin-top: 5rem;
		}

		.content-container {
			height: 100%;
			width: 100%;
			max-width: 22rem;
			z-index: 10;
			/* aspect-ratio: 10 / 16; */
		}

		h1 {
			color: var(--teal);
			font-size: 5rem;
			text-align: right;
		}

		h2 {
			font-size: 2rem;
			font-weight: 200;
			color: var(--rosewater);
			margin-left: 1rem;
			text-align: right;
		}
	</style>
</html>
