---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Layout from '../../layouts/layout.astro';
import OrganismEssayCard from '../../components/Organisms/OrganismEssayCard.astro';

const posts = (await getCollection('essays')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout showTitle>
	<div class="header">
		<h2 class="serif"> Essays </h2>
		<h4 class="serif"> Longform writing that should stand on its own. </h4>
	</div>
	<div class="cardGrid">
		{
			posts.map((post) => (
				<div>
					<OrganismEssayCard id={post.id} title={post.data.title} heroImage={post.data.heroImage} description={post.data.description} colour={post.data.colour}/>
				</div>
			))
		}
	</div>
</Layout>
<style>

.cardGrid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin: 1rem;
	grid-auto-rows: 25rem;
	padding-bottom: 3rem;
	@media (min-width: 48em) {
	grid-template-columns: 1fr 1fr 1fr;
	margin: 3rem;
}
}

h4 {
	font-weight: 300;
	font-size: 1.3rem;
	margin-top: 1rem;
	@media (min-width: 48em) {
		font-size: 2rem;
		margin-top: 2rem;
	}
}

.header {
	margin: 1rem 1rem;
	margin-top: 0rem;
	color: var(--text);
	@media (min-width: 48em) {
		margin: 2rem 3rem;
	}
}
</style>